 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400;1,600&family=Roboto&display=swap');


body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    
}

.main {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

#logo {
    height: 50px;
    width: 150px;
    margin: 20px;
    padding-left: 45%;
    }

.intro h1 {
    font-size: 2em;
    
}


.titles {
    font-size: 1.8em;
}
span {
    color:red;
}

.headtext {
    color: darkcyan;
    font-size: 20px;
    background-color: #fefbf1;
    width: 200vh;
    border-top: 2px solid yellow; 
    text-align: center;
    padding: 15px;
    
}

.left {
    border-left: 1px solid yellow;
    padding-left: 10px;
}

#pizza {
    border-radius: 20px;
    height: 500px;
}

.text {
    color:grey;
    font-size: large;
    text-align: center;
}

.content {
   padding-left: 300px;
}

.footer  {
    background-color: antiquewhite;
}

a {
    text-decoration: none;
}

