

body {
    margin: 0;
    padding: 0;
    
}

.main {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

#logo {
    height: 50px;
    width: 150px;
    margin: 20px;
    padding-left: 100px;
    }




.titles {
    font-size: 1.8em;
}
span {
    color:red;
}

.headtext {
    color: darkcyan;
    font-size: 20px;
    background-color: antiquewhite;
    border-top: 1px solid yellow;
    
    
    
    
}

#pizza {
    border-radius: 20px;
    height: 500px;
}

.text {
    color:grey;
    font-size: large;
    text-align: center;
}

.footer  {
    background-color: antiquewhite;
}

a {
    text-decoration: none;
}